.images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.image{
    position: relative;
    margin: 20px;
}

.image p{
    position: absolute;
    top: 40%;
    height: 30%;
    width: 100%;
    background-color: #4aaaa5;
    text-align: center;
    font-size: 30px;
    color: white;
}

@media only screen and (max-width: 750px) {
    /* phones */
    .image img{
        height: 100%;
        width: 100%;
    }
    .image p{
        font-size: 18px;
        top: 30%;
    }
}